body {
  margin: 0;
}


header {
  
  background-color: hwb(240 42% 55%);
  padding: 10px;
}
header ul {
  float: right;
  color: rgb(168, 168, 168);
  font-family: lato;
  font-size: 25px;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}

p {
  font-family: lato;
  font-size: 30px;
  
}

p1 {
  font-family: lato;
  font-size: 15px;
  
}

<div class="work-example">
              <img class="trans1" src="/18_images/Product1.jpg">
            </div>
            <div class="work-space">
              <div class="work-example">
                <img class="trans1" src="/18_images/UXUI1.jpg">
              </div>



    }


    .mid-container{
        padding:10px;
        background-color: rgb(129, 87, 10);
        height:
    }

    .banner-bar{
      display: flex;
      background-color: #373738;
      justify-content: center;
      align-items: center;
      color:aliceblue;
      font-family: lato;
      font-size: x-large;
    }

    .card-area {
        display: flex;
        width: 100%;
        justify-content: space-around;
       flex-direction:row;
       background-color:rgb(234, 234, 234);
      }

 
   
      
      .card1 {
        
        background: #d7d7d7;
        width: 300px;
        height: 500px;
        margin: 20px;
        box-sizing: ;
        padding: ;
        border-radius: 10px;
        justify-content:center;
        align-items: flex-start;
      }
       .userresearch1{
        width: 300px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-top: 0px;
      }
      .card-words{
        display:flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
      }
  
       
      .card2 {
        background: #d7d7d7;
        width: 300px;
        height: 500px;
        margin: 20px;
        box-sizing: ;
        padding: ;
        border-radius: 10px;
        justify-content: center;
        align-items: flex-start;
      }
      .interactionphoto1{
        width: 300px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin-top: 0px;
      }

      .card-words2{
        display:flex;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
      }
      
      
        .card3 {
          background: #d7d7d7;
          width: 300px;
          height: 500px;
          margin: 20px;
          box-sizing: ;
          padding: 0px;
          border-radius: 10px;
          justify-content: center;
          align-items: flex-start;
        }
        .webdevphoto1{
          width: 300px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          margin-top: 0px;
        }
        .card-words3{
          display:flex;
          flex-direction:column;
          padding: 10px;
          justify-content: center;
        }
        .card.footer{
          display: flex;
          justify-content: center;

        }

        .lower-bar{
          display: flex;
          background-color: hwb(240 42% 55%);
          justify-content: center;
          align-items: center;
          color:aliceblue;
          font-family: lato;
          font-size: x-large;
        }
        .trans1{
          width: 100%;
          
          margin-top: 0px;}

       

        footer {
          font-family: lato;
          background-color: #373738;
          padding: 20px;
          margin-top: 0;
          color: white;
        }
        footer ul {
          list-style: none;
          padding-left: 5px;
        }
        footer li {
          display: inline-block;
          padding: 0px 7px;
        }